@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #eef2fa !important;
  --toastify-color-success: #eefbf4 !important;
  --toastify-color-warning: #fff7e0 !important;
  --toastify-color-error: #fce4e1 !important;

  --toastify-text-color-info: #2e5aac !important;
  --toastify-text-color-success: #13b41a !important;
  --toastify-text-color-warning: #d7b43a !important;
  --toastify-text-color-error: #d22c2c !important;
}

body {
  --sb-track-color: #0f172a;
  --sb-thumb-color: #fcd34d;
  --sb-size: 8px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*::selection {
  background: #fcd34d;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .custom-drop-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .drag-none {
    -webkit-user-drag: none;
    user-select: none;
  }
}
